*{
    
    background-color: #87dade;
}

h1 {
    color:#cc9331;
}

h2 {
    text-align: center;
    color: green;
}
img {
    border-radius: 50%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .info {
    text-align: center;
  }
 